html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: #EDEDED;
  margin: 16px 0;
}

.container {
  margin: 0 auto;
  width: 375px;
  border: 1px solid #E7E7E7;
  border-radius: 8px;
}

.bold {
  font-weight: 700;
}

.header, .post {
  background-color: #FFF;
}

/* header */
.header, 
.user-info,
.icons {
  display: flex;
}

.header {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c6c6c6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.logo, .user-avatar {
  padding: 16px 15px;
}

.logo {
  width: 127px;
}

.user-avatar, .avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

/* post content */
.post-content {
  display: inline;
  width: 348px;
}

.user-info {
  flex-direction: row;
  margin: 11px;
}

.avatar {
  margin-right: 7px;
}

.user-full-name {
  font-weight: 700;
}

.post-image {
  width: 100%;
}

/* post body */
.post-body {
  margin: 16px 19px 16px 10px;
}

.icon {
  width: 18.65px;
  height: 18.65px;
  margin-right: 20px;
  font-weight: 700;
}

.like-count {
  margin-top: 11.87px;
  font-weight: 700;
}

.username-caption {
  margin-top: 11.87px;
}