:root {
  --white: #fff;
  --black: #000;
  --bg: #ededed;
}

* {
  box-sizing: border-box;
}

html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: var(--bg);
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-size: 12px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--bg);
  background-color: var(--white);
  width: 375px;
  height: 67px;
  padding: 16px;
  margin-top: 30px;
} 

.logo-img {
  width: 127px;
}

.user-avatar, .post-avatar {
  border-radius: 50%;
  width: 34px;
  height: 34px;
}

/* post */
p {
  margin: 0;
}

.post {
  background: var(--white);
  width: 375px;
  margin-bottom: 30px;
}

.post-info {
  display: flex;
  padding: 10px;
}

.post-info-detail {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 7px;
  justify-content: center;
}

.post-name {
  font-weight: 600;
}

.post-img {
  width: 100%;
  height: auto;
}

.post-detail {
  padding: 20px 10px;
}

.post-icon {
  height: 23px;
  width: auto;
  margin-right: 10px;
}

.post-likes {
  font-weight: 600;
  margin-top: 10px;
}

.post-comment {
  margin-top: 10px;
}

.post-username {
  font-weight: 700;
}